/vendor
/node_modules
/.idea
Homestead.yaml
Homestead.json
.env
/public/storage
/public/tmp
/storage
/.idea
/nbproject/private/
/nbproject/*
/nbproject
public/api-docs/
public/api-docs/*
public/uploads/
public/vendor/
Homestead.yaml
Homestead.json
.env
config/constants.php
composer.lock
/public/access.log
/public/error.log
